<p>Welcome {{ username }}</p>
<form>
  <h1>Remove user</h1>
  <label>Username</label>
  <select [(ngModel)]="deleteUser.username" name="first">
    <option *ngFor="let user of currentUsers" [value]="user">
      {{ user }}
    </option>
  </select>
  <input type="submit" value="Remove User" (click)="removeUser()" />
</form>

<form>
  <h1>Create new user</h1>
  <label>Username</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder=""
    [(ngModel)]="newUser.username"
  />
  <label>Email</label>
  <input
    type="text"
    id="email"
    name="email"
    placeholder=""
    [(ngModel)]="newUser.email"
  />
  <label>Password</label>
  <input
    type="text"
    id="password"
    name="age"
    placeholder=""
    [(ngModel)]="newUser.password"
  />
  <input type="submit" value="Create User" (click)="createUser()" />
</form>

<h1>Groups and channels</h1>
<p>Add a group</p>
<input
  type="text"
  id="newgroup"
  name="newgroup"
  placeholder=""
  [(ngModel)]="newGroup.name"
/>
<input type="submit" value="Create new group" (click)="createGroup()" />
<p>Add user to a group</p>
<select [(ngModel)]="addgroup.user">
  <option *ngFor="let user of currentUsers" [value]="user">
    {{ user }}
  </option>
</select>
<select [(ngModel)]="addgroup.group">
  <option *ngFor="let group of groups" [value]="group.name">
    {{ group.name }}
  </option>
</select>
<input
  type="submit"
  value="Add User"
  (click)="addUserToGroup(addgroup.group, addgroup.user)"
/>
<p>Remove user from a group</p>

<select [(ngModel)]="deleteUserGroup.user">
  <option *ngFor="let user of currentUsers" [value]="user">
    {{ user }}
  </option>
</select>
<select [(ngModel)]="deleteUserGroup.group">
  <option *ngFor="let group of groups" [value]="group.name">
    {{ group.name }}
  </option>
</select>
<input type="submit" value="Remove User" (click)="deleteUserFromGroup()" />

<h2 *ngFor="let group of groups">
  {{ group.name }}
  <input type="submit" value="Add Channel" (click)="addChannel(group.name)" />
  <input
    type="submit"
    value="Remove this Group"
    (click)="deleteGroup(group.name)"
  /><br />
  <a
    *ngFor="let id of group.channels"
    class="nav-link"
    [routerLink]="['/chat',id]"
    >{{ id }}</a
  >
</h2>
