<p>Welcome {{ username }}</p>

<form>
  <h1>Create new user</h1>
  <label>Username</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder=""
    [(ngModel)]="newUser.username"
  />
  <label>Email</label>
  <input
    type="text"
    id="email"
    name="email"
    placeholder=""
    [(ngModel)]="newUser.email"
  />
  <label>Password</label>
  <input
    type="text"
    id="password"
    name="age"
    placeholder=""
    [(ngModel)]="newUser.password"
  />
  <input type="submit" value="Create User" (click)="createUser()" />
</form>

<h1>Groups and channels</h1>
<p>Add user to a group</p>

<select [(ngModel)]="addgroup.user">
  <option *ngFor="let user of currentUsers" [value]="user">
    {{ user }}
  </option>
</select>
<select [(ngModel)]="addgroup.group">
  <option *ngFor="let group of groups" [value]="group.name">
    {{ group.name }}
  </option>
</select>
<input
  type="submit"
  value="Add User"
  (click)="addUserToGroup(addgroup.group, addgroup.user)"
/>
<p>Remove user from a group</p>

<select [(ngModel)]="deleteUser.user">
  <option *ngFor="let user of currentUsers" [value]="user">
    {{ user }}
  </option>
</select>
<select [(ngModel)]="deleteUser.group">
  <option *ngFor="let group of groups" [value]="group.name">
    {{ group.name }}
  </option>
</select>
<input type="submit" value="Add User" (click)="DeleteUserGroup()" />

<h2 *ngFor="let group of groups">
  {{ group.name }} <br />
  <br />
  <Label>Add a Channel to {{ group.name }}</Label>
  <a
    *ngFor="let id of group.channels"
    class="nav-link"
    routerLink="/chat/+id"
    >{{ id }}</a
  >
</h2>
